body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

form {
    margin-top: 300px;
    width: 50%;
    max-width: 500px; /* Batasi lebar maksimal agar tidak terlalu lebar di layar besar */
    max-height: 1000px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Mengatasi masalah padding yang memengaruhi lebar elemen */
}

input[type="radio"] {
    width: auto;
    margin-right: 10px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
